{
  "baseTimeToRot" : 10800,
  "rottedItem" : "rottenfood",

  "rotTimeDescriptions" : [
    [300, "^red;%s, Almost too rotten to eat^reset;"],
    [1800, "^orange;%s, Starting to smell rotten^reset;"],
    [3600, "^yellow;%s, Will probably go bad soon^reset;"],
    [10800, "^green;%s, Should stay fresh for awhile^reset;"],
    [999999, "^green;%s, Extremely well preserved^reset;"]
  ]
}
